<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input type="text" id="name" class="form-control" formControlName="name">
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Endereço</label>
    <input type="text" id="address" class="form-control" formControlName="address">
  </div>

  <div class="mb-3">
    <label for="cell" class="form-label">Telefone</label>
    <input type="text" id="cell" class="form-control" formControlName="cell">
  </div>

  <button type="submit" class="btn btn-success">
    {{ customer ? 'Atualizar' : 'Criar' }} Cliente
  </button>
</form>
